/**
 * Created by 
 * User: ershov-ilya
 * Website: ershov.pw
 * GitHub : https://github.com/ershov-ilya
 * on 26.09.2015.
*/

@charset "UTF-8";

$red: darken(red, 30%);

.container{
  background-color: yellow;
  .col-md-4{
    display: inline-block;
    width:30%;
    background-color: $red;
  }
}
